* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(52, 50, 59, 0.164);
    height: auto;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgba(18, 19, 32, 0.927);
    box-shadow: 0 0 5px 3px rgba(49, 49, 49, 0.959);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 30%;
    margin-left: 15px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

#logo>a {
    color: rgba(239, 248, 255, 0.936);
    text-decoration: none;
    cursor: pointer;
}

#logo>img {
    width: 41px;
    margin-left: 5px;
    cursor: pointer;
}

#loginDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

#loginDiv>#loginpagehome>img {
    margin-right: 8px;
    width: 30px;
    cursor: pointer;
}

#loginPage {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}

#loginpagehome {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}

#logup {
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.45);
    width: 90px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#logup>a {
    color: white;
    text-decoration: none;
}

#logup>a:hover {
    text-decoration: underline;
}

#signup {
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.45);
    width: 90px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#signup>a {
    color: white;
    text-decoration: none;
}

#signup>a:hover {
    text-decoration: underline;
}

#logout-div {
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.45);
    width: 90px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#logout-div>a {
    color: white;
    text-decoration: none;
}

#logout-div>a:hover {
    text-decoration: underline;
}

#userName {
    color: white;
    margin-right: 25px;
}

main {
    margin: 30px 20px;
    height: auto;
    min-height: calc(59.5vh);
}

#MainDiv {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgb(46, 46, 63);
    padding: 30px 20px;
    box-shadow: 0 0 5px 3px rgba(99, 99, 99, 0.959);
    border-radius: 5px;
    position: relative;
}

#TaskBox {
    background-color: rgba(24, 24, 24, 0.582);
    color: rgb(190, 190, 190);
    padding: 15px 20px;
    width: 40vw;
}

#para1 {
    font-size: 10;
    padding: 8px 0px;
}

#textArea {
    margin: 40px 40px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#textArea #txt {
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: rgb(190, 190, 190);
    resize: none;
    outline: none;
    font-weight: bold;
}

#errorValid {
    color: rgba(255, 221, 157, 0.89);
}

#btn1 {
    margin: 20px 0px;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 18px;
    /* border: none; */
    background-color: rgb(190, 190, 190);
    border-radius: 5px;
    cursor: pointer;
}

#btn1:hover {
    background-color: rgb(160, 160, 160);
}

.taskName {
    float: left;
}

.rigthElements {
    float: right;
}

.ResetBtn {
    /*float:right;*/
    margin: 10px 0px 2px 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.checkB {
    /* float: right; */
    padding-right: 20px;
}

.divElements {
    /* background-color: red; */
}

#checkboxes {
    position: relative;
    margin-top: 15px;
}

#line {
    margin-top: 10px;
    margin-bottom: 20px;
}

#rightsideDiv {
    position: absolute;
    right: 0;
}

#deleteBtn {
    color: white;
    font-size: 15px;
}

#labelTask {
    text-transform: capitalize;
    font-size: 16.5px;
}

@media (max-width:500px) {
    #logo {
        font-size: 18px;
    }
    #logo>img {
        width: 35px;
        margin-left: 2px;
    }
    #loginDiv>img {
        margin-right: 15px;
        width: 24px;
    }
    main {
        min-height: calc(65vh);
        ;
    }
    #MainDiv {
        flex-direction: column;
    }
    #TaskBox {
        padding: 15px 20px;
        width: 100%;
    }
    #textArea {
        margin: 0;
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #textArea #txt {
        font-size: 18px;
    }
    #btn1 {
        width: 40%;
        margin-top: 30px;
        padding: 5px 1px;
        font-weight: bold;
        font-size: 15px;
        /* border: none; */
        background-color: rgb(190, 190, 190);
        border-radius: 5px;
        cursor: pointer;
    }
}

footer {
    width: 100%;
    height: 110px;
    background-color: rgba(18, 19, 32, 0.927);
    display: flex;
    justify-content: center;
    /* position: absolute;
    bottom: 0; */
}

footer>#socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#socials>p {
    font-size: 18px;
    color: rgb(129, 129, 129);
}