<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head_logup.ejs')%>

    <body>
        <%- include('./partial/nav_404.ejs')%>
            <div id="main404">
                <h1>Oops!!!</h1>
                <p>Error 404 : Page Not Found</p>
            </div>


            <%- include('./partial/footer.ejs')%>
    </body>

</html>