<!DOCTYPE html>
<html lang="en">
<%- include('./partial/headDash.ejs')%>

    <body>
        <%- include('./partial/nav_logup.ejs')%>

            <main>hii</main>

            <%- include('./partial/footer.ejs')%>

    </body>

</html>