<!DOCTYPE html>
<html>

<%- include('./partial/head.ejs')%>

    <body>
        <%- include('./partial/nav.ejs')%>
            <main>
                <div id="MainDiv">
                    <div id="TaskBox">
                        <h2><b>TASK LIST</b></h2>
                        <p id="para1">Add tasks to your list by typing to the right and pressing enter or clicking on Add Task button. You may then view pending tasks below!</p>

                        <div id="checkboxes">
                        </div>

                    </div>

                    <div id="textArea">
                        <p id="errorValid">Please Enter Something</p>
                        <form id="inputData-form" action="/add-items" method="POST">
                            <input type="text" id="txt" placeholder="I need to..." min="1">
                            <br/>
                            <input type="button" id="btn1" value="Add Task" onclick="funcOnClick()">
                        </form>

                    </div>
                </div>
            </main>

            <%- include('./partial/footer.ejs')%>

                <script type="text/javascript" src="/script.js"></script>
    </body>

</html>