<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head_logup.ejs')%>

    <body>
        <%- include('./partial/nav_logup.ejs')%>

            <main>
                <div class="main-page" id="signup-page">
                    <h3>SIGNUP NOW!</h3>
                    <div class="signedinmsg">

                        <%if(typeof message !== 'undefined'){%>
                            <p>
                                <%=message%>
                            </p>
                            <%}%>
                    </div>
                    <form id="form-sign" action="/user-data" method="POST">
                        <input type="text" id="username-sign" placeholder="Name" name="name" />
                        <br/>
                        <input type="email" id="email-sign" placeholder="Email" name="email" />
                        <br/>
                        <input type="password" id="password-sign" placeholder="Password" name="password" />
                        <br/>
                        <input type="submit" id="submit-signup" value="Sign Up" />
                    </form>
                    <span id="dir-to-log">Already Signed Up? <a href="login" id="dir-em-log">Login Here!</a></span>
                </div>

            </main>

            <%- include('./partial/footer.ejs')%>

                <script src="/auth.js"></script>
    </body>

</html>