<footer>
    <div id="socials">
        <p>~ Check Me Out On ~</p>
        <div id="social-links">
            <a href="https://www.instagram.com/___lakshya_raghuwanshi___/" target="_blank"><img src="/media/Icons/Insta Black.png" width="30px" class="instagram-info"></a>
            <a href="https://www.linkedin.com/in/lakshya-raghuwanshi-26194a247/" target="_blank"><img src="/media/Icons/Linkedin Black.png" width="30px"></a>
            <a href="https://github.com/Lakshya-E" target="_blank"><img src="/media/Icons/Github Black2.png" width="30px"></a>
        </div>
    </div>
</footer>