<nav>
    <div id="logo"><a href="/home">TaskList Keeper</a><img src="media/notebookLogo white.png" alt="logo"></div>
    <div id="loginDiv">
        <div id="loginpagehome">
            <img src="/media/accountIcon white.png" alt="account-logo">
            <span id="userName"><%=userName%></span>
            <div id="logout-div">
                <a href="/logout">Log Out</a>
            </div>
        </div>
    </div>
</nav>